<!-- ------------------------------------------------------------------------------------------- -->
<!--  Redmine CMDB plugin: Configuration Management DataBase                                     -->
<!--  Copyright (C) 2025 Franz Apeltauer                                                         -->
<!--                                                                                             -->
<!--  This program is free software: you can redistribute it and/or modify it under the terms    -->
<!--  of the GNU Affero General Public License as published by the Free Software Foundation,     -->
<!--  either version 3 of the License, or (at your option) any later version.                    -->
<!--                                                                                             -->
<!--  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;  -->
<!--  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  -->
<!--  See the GNU Affero General Public License for more details.                                -->
<!--                                                                                             -->
<!--  You should have received a copy of the GNU Affero General Public License                   -->
<!--  along with this program.  If not, see <https://www.gnu.org/licenses/>.                     -->
<!-- -------------------------------------------------------------------------------------eohdr- -->
<%# Purpose: Form partial for creating and editing CI (Configuration Item) entries.
            Allows setting CI class, location, lifecycle status, hardware details, and external system links. %>

<div class="ci-form-container">
  <h3><%= l('hrz_cmdb.cis.new') %></h3>

  <%= form_tag '/cmdb/cis', method: :post, id: 'new-ci-form', class: 'ci-form' do %>
    <div class="form-group">
      <%= label_tag :b_name_full, l('hrz_cmdb.fields.b_name_full') %>
      <div class="field-wrapper">
        <%= text_field_tag 'ci[b_name_full]', '', class: 'form-control', maxlength: 120 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :b_name_abbr, l('hrz_cmdb.fields.b_name_abbr') %>
      <div class="field-wrapper">
        <%= text_field_tag 'ci[b_name_abbr]', '', class: 'form-control form-control-short', maxlength: 50 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :j_ci_class_id, l('hrz_cmdb.fields.j_ci_class') %> <span class="required">*</span>
      <div class="field-wrapper">
        <%= select_tag 'ci[j_ci_class_id]',
                       options_for_select(
                         [[l('hrz_cmdb.select_ci_class'), '']] +
                         HrzcmCiClass.ordered_by_sort_and_abbr.map { |c| ["#{c.b_name_abbr} - #{c.b_name_full}", c.id] }
                       ),
                       class: 'form-control',
                       id: 'ci_j_ci_class_id',
                       required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :j_location_id, l('hrz_cmdb.fields.j_location') %>
      <div class="field-wrapper">
        <%= select_tag 'ci[j_location_id]',
                       options_for_select(
                         [[l('hrz_cmdb.select_location'), '']] +
                         HrzcmLocation.ordered_by_b_name_abbr.map { |loc| ["#{loc.b_name_abbr} - #{loc.b_name_full}", loc.id] }
                       ),
                       class: 'form-control',
                       id: 'ci_j_location_id' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :b_producer, l('hrz_cmdb.fields.b_producer') %>
      <div class="field-wrapper">
        <%= text_field_tag 'ci[b_producer]', '', class: 'form-control', maxlength: 100 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :b_model, l('hrz_cmdb.fields.b_model') %>
      <div class="field-wrapper">
        <%= text_field_tag 'ci[b_model]', '', class: 'form-control', maxlength: 100 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :b_tag_serial, l('hrz_cmdb.fields.b_tag_serial') %>
      <div class="field-wrapper">
        <%= text_field_tag 'ci[b_tag_serial]', '', class: 'form-control', maxlength: 40 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :j_status_id, l('hrz_cmdb.fields.j_status') %>
      <div class="field-wrapper">
        <%= select_tag 'ci[j_status_id]',
                       options_for_select(
                         [[l('hrz_cmdb.select_status'), '']] +
                         HrzcmLifecycleStatus.ordered_by_abbr.map { |s| ["#{s.b_name_abbr} - #{s.b_name_full}", s.id] }
                       ),
                       class: 'form-control',
                       id: 'ci_j_status_id' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :b_comment, l('hrz_cmdb.fields.b_comment') %>
      <div class="field-wrapper">
        <%= text_area_tag 'ci[b_comment]', '', class: 'form-control', rows: 5, maxlength: 10000 %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :b_url_doc, l('hrz_cmdb.fields.b_url_doc') %>
      <div class="field-wrapper">
        <div class="url-field-container">
          <%= text_field_tag 'ci[b_url_doc]', '', class: 'form-control url-field', maxlength: 1500 %>
          <span class="url-open-icon disabled" title="<%= l('hrz_cmdb.buttons.open_url', default: 'Open URL') %>"></span>
        </div>
        <span class="hint"><%= l('hrz_cmdb.hints.b_url_doc') %></span>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag l('hrz_cmdb.buttons.create'), class: 'button button-positive', name: 'create' %>
      <%= link_to l('hrz_cmdb.buttons.cancel'), '#', class: 'button', onclick: 'HrzCmdb.clearDetails(); return false;' %>
    </div>
  <% end %>
</div>
